<form method="post">

    <label for="name">name:</label><br>
    <input type="text" name="name" id="name"><br>

    <label for="name">reps:</label><br>
    <input type="text" name="reps" id="reps"><br>

    <label for="name">weight:</label><br>
    <input type="text" name="weight" id="weight"><br>

    <label for="name">date:</label><br>
    <input type="text" name="date" id="date"><br>

    <label for="name">unit:</label><br>
    <input type="text" name="unit" id="unit">

    <input type="submit" name="New Item">
</form>
<div>
    {{{results}}}
</div>
{{!-- <div>
    <table id="test">
        <thead>
            <th>
                <td>

                </td>
            </th>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div> --}}
<script src="./script.js"></script>