<h1>POST Request Received</h1>
<ul>
    {{#each qList}}
    <li>{{this.name}}:{{this.value}}
    {{/each}}
</ul>
<ul>
    {{#each bList}}
    <li>{{this.name}}:{{this.value}}
    {{/each}}
</ul>